body {
     background-color: rgb(168, 198, 255);
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    color: rgb(8, 0, 0);
}
.tarefas{
    padding-top: 30px;
}

div:hover {
    transform: scale(1.05);
}

ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0px;
    padding-left: 0px;
}
a:link {
    text-decoration: none;
}
.Pendentes {
    
    background-color: #989e92;
    color: black;
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
    
}

.Concluidas {
    background-color: #0CA789;
    color: black;
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
}

.Excluidas {
    background-color: #e7242a;
    color: black;
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
}
.pendentes{
    background-color: #c1c4bf;
    border: solid 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 7px;
    
}
.excluidas {
    background-color: #EB4045;
    border: solid 1px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 7px;
    
}

.concluidas {
    background-color: #06bd00;
    border: solid 1px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 7px;
}

div {
    width: 500px;
    border-radius: 7px;
    text-decoration: none;
    margin: auto;
}

